#LoginPage{
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: rgba(0,0,0,.3);
  @include flexbox;

  h1, h3{
    color: #fff;
    display: block;
    text-align: center;
  }
}
