.Navbar{
  @extend %flexbox-center;
  @extend %backdrop-blur;
  background: $nav-bg;
  color: $nav-text;
  height: $nav-height;

  .left, .right{
    @include flex(0, 1, 3em);
    position: relative;
    height: 100%;
  }

  .center{
    @include flex(1, 1, auto);
    @extend %flexbox-center;
    text-align: center;
    height: 100%;
  }

  h2{
    @extend %ellipsis;
    margin: 0;
    font-size: .8em;
    font-weight: normal;
  }

  h3{
    @extend %ellipsis;
    margin: 0;
    font-size: .7em;
    font-weight: normal;
  }
}

.nav-button{
  height: 100%;
  width: 3em;
  @extend %flexbox-center;
}
