.Page{
  max-width: 36em;
  margin: 0 auto 2em auto;

  h1, h3{
    color: #fff;
    display: block;
    text-align: center;
  }

  .backBtn{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
  }
}
