*, *:before, *:after {
  @include prefix(box-sizing, border-box);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html{
  font-family: "Quicksand";
}

body {
  background: url(/images/img_background@2x.jpg) no-repeat center center fixed;
  background-size: cover;
}
