@font-face{
  font-family: Quicksand;
  src: url('../fonts/quicksand/Quicksand-Regular.otf');
}

@font-face{
  font-family: Quicksand;
  font-weight: bold;
  src: url('../fonts/quicksand/Quicksand-Bold.otf');
}

@font-face{
  font-family: Quicksand;
  font-style: italic;
  src: url('../fonts/quicksand/Quicksand-Italic.otf');
}

@font-face{
  font-family: Quicksand;
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/quicksand/Quicksand-BoldItalic.otf');
}

@font-face{
  font-family: Quicksand;
  font-weight: 200;
  src: url('../fonts/quicksand/Quicksand-Light.otf');
}

@font-face{
  font-family: Quicksand;
  font-weight: 200;
  font-style: italic;
  src: url('../fonts/quicksand/Quicksand-LightItalic.otf');
}

@font-face{
  font-family: QuicksandDash;
  src: url('../fonts/quicksand/Quicksand-Dash.otf');
}
