// Color names
$grey: #444;
$light-grey: #888;

// From color pallet
$ballerina: #fac9c4;
$bubblegum: #f7aec2;
$fuschia: #ef2b75;
$stop: #ef3125;
$burgundy: #ac0634;
$brick: #a74d0f;
$coral: #f9ab84;
$orange: #f08c1d;
$macaroni: #fcb913;
$sunshine: #ffdd00;
$lime: #c1d82e;
$grass: #8dc73f;
$sage: #c9d5a7;
$kelly: #018752;
$forest: #00664e;
$aqua: #68c8c6;
$teal: #007a85;
$baby: #ace0ee;
$sky: #7eb0cb;
$ocean: #0065a5;
$navy: #00447b;
$lavendar: #c3c4e0;
$grape: #6a2c91;
$violet: #546291;
$eggplant: #7b2b82;
$gray: #949599;
$beige: #baab98;
$charcoal: #636466;
$chocolate: #4c3900;
$white: #ffffff;
$black: #000000;

// Role colors
$text: #222;
$white-bg: rgba(255, 255, 255, .6);
$tool-panel-bg: $white-bg;
$nav-bg: $white-bg;
$nav-text: $grey;
$online: $teal;
$offline: $gray;

// Sizes
$nav-height: 2.5em;
$bg-blur: .5em;
