@mixin transition-opacity($type, $from, $to){
  &-#{$type}{
    opacity: $from;
  }
  &-#{$type}-active{
    opacity: $to;
  }
}

@mixin transition-shadow($type, $from, $to){
  &-#{$type}{
    box-shadow: $from;
  }
  &-#{$type}-active{
    box-shadow: $to;
  }
}
